<div id="schedule-<%= schedule.id %>">
  
  <div class="box29">
    <div class="box-title"><%= schedule.title %></div>
    <p><%= schedule.content %></p>
    <span class= "timestamp">
      Posted <%= time_ago_in_words(schedule.created_at) %> ago.
    </span>
    <div class="auther">
      Planned by  User.find(schedule.user_id).name 
    </div>
  </div>
</div>