<% provide(:title, "Edit schedule") %>
<% provide(:url, schedule_path) %>
<% provide(:button_text, 'Save changes') %>
<h1>Update</h1>
<div class = "row">
  <div class="col-md-6 col-md-offset-3">
    <%= render 'form_for_study_new' %>
  </div>
</div>